.elementor-kit-5{--e-global-color-primary:#F5D82E;--e-global-color-secondary:#486CDF;--e-global-color-text:#43C9B9;--e-global-color-accent:#FFBB54;--e-global-color-af0e478:#071E56;--e-global-color-c362302:#7E83FF;--e-global-color-c4ffb8f:#1E1F3A;--e-global-color-2275d84:#5E616B;--e-global-color-d587b06:#6B7081;--e-global-color-4cb92d7:#FAFAFA;--e-global-color-9ca2ce0:#FFFFFF;--e-global-color-f301e64:#F1F3F6;--e-global-color-818206a:#727272;--e-global-color-368f2cd:#033C99;--e-global-typography-primary-font-family:"Inter";--e-global-typography-primary-font-size:18px;--e-global-typography-primary-font-weight:normal;--e-global-typography-primary-line-height:28px;--e-global-typography-secondary-font-family:"Graphik";--e-global-typography-secondary-font-size:76px;--e-global-typography-secondary-font-weight:500;--e-global-typography-secondary-line-height:72.2px;--e-global-typography-text-font-family:"Inter";--e-global-typography-text-font-size:14px;--e-global-typography-text-font-weight:bold;--e-global-typography-accent-font-family:"Inter";--e-global-typography-accent-font-size:13px;--e-global-typography-accent-font-weight:500;--e-global-typography-accent-line-height:15.73px;--e-global-typography-3b7b710-font-family:"Graphik";--e-global-typography-3b7b710-font-size:58px;--e-global-typography-3b7b710-font-weight:500;--e-global-typography-3b7b710-line-height:63.8px;--e-global-typography-3b7b710-letter-spacing:-1.5px;--e-global-typography-174f910-font-family:"Graphik";--e-global-typography-174f910-font-size:48px;--e-global-typography-174f910-font-weight:500;--e-global-typography-174f910-line-height:52.8px;--e-global-typography-174f910-letter-spacing:-0.5px;--e-global-typography-4f06311-font-family:"Graphik";--e-global-typography-4f06311-font-size:36px;--e-global-typography-4f06311-font-weight:500;--e-global-typography-4f06311-line-height:39.6px;--e-global-typography-4f06311-letter-spacing:0px;--e-global-typography-7682aa3-font-family:"Graphik";--e-global-typography-7682aa3-font-size:28px;--e-global-typography-7682aa3-font-weight:500;--e-global-typography-7682aa3-line-height:30.8px;--e-global-typography-61d4466-font-family:"Graphik";--e-global-typography-61d4466-font-size:22px;--e-global-typography-61d4466-font-weight:500;--e-global-typography-61d4466-line-height:28.6px;--e-global-typography-a650ddd-font-family:"Inter";--e-global-typography-a650ddd-font-size:18px;--e-global-typography-a650ddd-font-weight:400;--e-global-typography-a650ddd-line-height:30.6px;--e-global-typography-a650ddd-letter-spacing:0px;--e-global-typography-9bf47bd-font-family:"Inter";--e-global-typography-9bf47bd-font-size:16px;--e-global-typography-9bf47bd-font-weight:normal;--e-global-typography-9bf47bd-line-height:25.6px;--e-global-typography-82d1d6c-font-family:"Inter";--e-global-typography-82d1d6c-font-size:14px;--e-global-typography-82d1d6c-font-weight:normal;--e-global-typography-0ccddcb-font-family:"Inter";--e-global-typography-0ccddcb-font-size:16px;--e-global-typography-0ccddcb-font-weight:600;--e-global-typography-0ccddcb-text-decoration:underline;--e-global-typography-40aa7a5-font-family:"Inter";--e-global-typography-40aa7a5-font-size:22px;--e-global-typography-40aa7a5-font-weight:400;--e-global-typography-40aa7a5-line-height:35.2px;color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-9bf47bd-font-family ), Sans-serif;font-size:var( --e-global-typography-9bf47bd-font-size );font-weight:var( --e-global-typography-9bf47bd-font-weight );line-height:var( --e-global-typography-9bf47bd-line-height );}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-kit-5 a{font-family:"Inter", Sans-serif;font-weight:600;text-decoration:underline;}.elementor-kit-5 h1{color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-3b7b710-font-family ), Sans-serif;font-size:var( --e-global-typography-3b7b710-font-size );font-weight:var( --e-global-typography-3b7b710-font-weight );line-height:var( --e-global-typography-3b7b710-line-height );letter-spacing:var( --e-global-typography-3b7b710-letter-spacing );}.elementor-kit-5 h2{color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-174f910-font-family ), Sans-serif;font-size:var( --e-global-typography-174f910-font-size );font-weight:var( --e-global-typography-174f910-font-weight );line-height:var( --e-global-typography-174f910-line-height );letter-spacing:var( --e-global-typography-174f910-letter-spacing );}.elementor-kit-5 h3{color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-4f06311-font-family ), Sans-serif;font-size:var( --e-global-typography-4f06311-font-size );font-weight:var( --e-global-typography-4f06311-font-weight );line-height:var( --e-global-typography-4f06311-line-height );letter-spacing:var( --e-global-typography-4f06311-letter-spacing );}.elementor-kit-5 h4{color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-7682aa3-font-family ), Sans-serif;font-size:var( --e-global-typography-7682aa3-font-size );font-weight:var( --e-global-typography-7682aa3-font-weight );line-height:var( --e-global-typography-7682aa3-line-height );}.elementor-kit-5 h5{color:var( --e-global-color-c4ffb8f );font-family:var( --e-global-typography-61d4466-font-family ), Sans-serif;font-size:var( --e-global-typography-61d4466-font-size );font-weight:var( --e-global-typography-61d4466-font-weight );line-height:var( --e-global-typography-61d4466-line-height );}.elementor-kit-5 h6{color:var( --e-global-color-c4ffb8f );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}.site-footer .site-branding{flex-direction:column;align-items:stretch;}@media(max-width:1024px){.elementor-kit-5{font-size:var( --e-global-typography-9bf47bd-font-size );line-height:var( --e-global-typography-9bf47bd-line-height );}.elementor-kit-5 h1{font-size:var( --e-global-typography-3b7b710-font-size );line-height:var( --e-global-typography-3b7b710-line-height );letter-spacing:var( --e-global-typography-3b7b710-letter-spacing );}.elementor-kit-5 h2{font-size:var( --e-global-typography-174f910-font-size );line-height:var( --e-global-typography-174f910-line-height );letter-spacing:var( --e-global-typography-174f910-letter-spacing );}.elementor-kit-5 h3{font-size:var( --e-global-typography-4f06311-font-size );line-height:var( --e-global-typography-4f06311-line-height );letter-spacing:var( --e-global-typography-4f06311-letter-spacing );}.elementor-kit-5 h4{font-size:var( --e-global-typography-7682aa3-font-size );line-height:var( --e-global-typography-7682aa3-line-height );}.elementor-kit-5 h5{font-size:var( --e-global-typography-61d4466-font-size );line-height:var( --e-global-typography-61d4466-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-5{--e-global-typography-primary-font-size:20px;--e-global-typography-primary-line-height:28px;--e-global-typography-secondary-font-size:45px;--e-global-typography-secondary-line-height:45px;--e-global-typography-secondary-letter-spacing:-2px;--e-global-typography-text-font-size:13px;--e-global-typography-accent-font-size:13px;--e-global-typography-3b7b710-font-size:35px;--e-global-typography-3b7b710-line-height:38.5px;--e-global-typography-3b7b710-letter-spacing:-1.5px;--e-global-typography-174f910-font-size:30px;--e-global-typography-174f910-line-height:33px;--e-global-typography-174f910-letter-spacing:-0.5px;--e-global-typography-4f06311-font-size:28px;--e-global-typography-4f06311-line-height:30.8px;--e-global-typography-7682aa3-font-size:22px;--e-global-typography-7682aa3-line-height:24.2px;--e-global-typography-61d4466-font-size:18px;--e-global-typography-61d4466-line-height:23.4px;--e-global-typography-a650ddd-font-size:18px;--e-global-typography-a650ddd-line-height:28.8px;--e-global-typography-a650ddd-letter-spacing:0px;--e-global-typography-9bf47bd-font-size:16px;--e-global-typography-9bf47bd-line-height:25.6px;--e-global-typography-82d1d6c-font-size:14px;--e-global-typography-40aa7a5-font-size:20px;--e-global-typography-40aa7a5-line-height:30px;font-size:var( --e-global-typography-9bf47bd-font-size );line-height:var( --e-global-typography-9bf47bd-line-height );}.elementor-kit-5 h1{font-size:var( --e-global-typography-3b7b710-font-size );line-height:var( --e-global-typography-3b7b710-line-height );letter-spacing:var( --e-global-typography-3b7b710-letter-spacing );}.elementor-kit-5 h2{font-size:var( --e-global-typography-174f910-font-size );line-height:var( --e-global-typography-174f910-line-height );letter-spacing:var( --e-global-typography-174f910-letter-spacing );}.elementor-kit-5 h3{font-size:var( --e-global-typography-4f06311-font-size );line-height:var( --e-global-typography-4f06311-line-height );letter-spacing:var( --e-global-typography-4f06311-letter-spacing );}.elementor-kit-5 h4{font-size:var( --e-global-typography-7682aa3-font-size );line-height:var( --e-global-typography-7682aa3-line-height );}.elementor-kit-5 h5{font-size:var( --e-global-typography-61d4466-font-size );line-height:var( --e-global-typography-61d4466-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Inter-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-100-Thin.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-100-Thin.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-100-Thin-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-100-Thin-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-200-Extralight.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-200-Extralight.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-200-Extralight-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-200-Extralight-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-300-Light.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-300-Light.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-300-Light-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-300-Light-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-400-Regular.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-400-Regular.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-400-RegularItalic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-400-RegularItalic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-500-Medium.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-500-Medium.otf?#iefix') format('embedded-opentype'),
		url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-500-MediumItalic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-500-MediumItalic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-600-Semibold.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-600-Semibold.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-600-Semibold-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-600-Semibold-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-700-Bold.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-700-Bold.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 700;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-700-Bold-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-700-Bold-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-800-Black.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-800-Black.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 800;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-800-Black-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-800-Black-Italic.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-900-Super.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-900-Super.otf?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'Graphik';
	font-style: italic;
	font-weight: 900;
	font-display: auto;
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-900-Super-Italic.otf');
	src: url('https://www.coselling.ai.com/wp-content/uploads/2022/01/Graphik-900-Super-Italic.otf?#iefix') format('embedded-opentype');
}
/* End Custom Fonts CSS */